# Rain ECDF

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
!head data/sheffield_weather_station.csv

# Cleaned up from http://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/sheffielddata.txt
# More info: https://data.gov.uk/dataset/historic-monthly-meteorological-station-data
# Sheffield
# Location 433900E 387200N, Lat 53.381 Lon -1.490, 131 metres amsl
# Missing data (more than 2 days missing in month) is marked by  ---.
# (af is air frost)
#    yyyy  mm   tmax    tmin      af    rain     sun
#               degC    degC    days      mm   hours
   yyyy  mm   tmax    tmin      af    rain     sun
   1883   1    6.3     1.7       6   122.1     ---

In [9]:
df = pd.read_csv('data/sheffield_weather_station.csv', comment="#", index_col=0, delim_whitespace=True)
df.head()

      mm  tmax  tmin  af   rain  sun
yyyy
1883   1   6.3   1.7   6  122.1  ---
1883   2   8.0   2.8   2   69.8  ---
1883   3   4.8  -1.6  23   29.6  ---
1883   4  12.2   3.8   2   74.0  ---
1883   5  14.7   6.2   0   31.2  ---

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1602 entries, 1883 to 2016
Data columns (total 6 columns):
mm      1602 non-null int64
tmax    1602 non-null object
tmin    1602 non-null object
af      1602 non-null object
rain    1602 non-null float64
sun     1602 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 87.6+ KB

In [ ]:
for _ in range(50):
    # Generate permutation samples
    perm_sample_1, perm_sample_2 = permutation_sample(rain_july, rain_november)


    # Compute ECDFs
    x_1, y_1 = ecdf(perm_sample_1)
    x_2, y_2 = ecdf(perm_sample_2)

    # Plot ECDFs of permutation sample
    _ = plt.plot(x_1, y_1, marker='.', linestyle='none',
                 color='red', alpha=0.02)
    _ = plt.plot(x_2, y_2, marker='.', linestyle='none',
                 color='blue', alpha=0.02)

# Create and plot ECDFs from original data
x_1, y_1 = ecdf(rain_july)
x_2, y_2 = ecdf(rain_november)
_ = plt.plot(x_1, y_1, marker='.', linestyle='none', color='red')
_ = plt.plot(x_2, y_2, marker='.', linestyle='none', color='blue')

# Label axes, set margin, and show plot
plt.margins(0.02)
_ = plt.xlabel('monthly rainfall (mm)')
_ = plt.ylabel('ECDF')
plt.show()